/lista 8/ListaExercicios-Semana8/nbproject/private/
/lista 8/ListaExercicios-Semana8/build/
/lista 8/ListaExercicios-Semana8/dist/
/lista 9/Exercicios-Semana9/nbproject/private/
/lista 9/Exercicios-Semana9/build/
/lista 9/Exercicios-Semana9/dist/
