/lista 8/ListaExercicios-Semana8/nbproject/private/
/lista 8/ListaExercicios-Semana8/build/
/lista 8/ListaExercicios-Semana8/dist/
/lista 9/Exercicios-Semana9/nbproject/private/
/lista 9/Exercicios-Semana9/build/
/lista 9/Exercicios-Semana9/dist/
/lista 9/Exercicios-Semana10/nbproject/private/
/lista 10/exercicio-lista10/nbproject/private/
/lista 10/exercicio-lista10/build/
/lista 10/exercicio-lista10/dist/
/lista 11/exercicio-semana11/nbproject/private/
/lista 11/exercicio-semana11/build/
/lista 11/exercicio-semana11/dist/
